*.ipynb
/*.lcopt
/*.lcoptview
/*.csv
*.xlsx
/static/
/templates/
*.pyc
/htmlcov/*
report.html
generate
dist
build
lcopt.egg-info/
/docs/_build/*
.coverage*
/tests/Test_model*
.pytest_cache
/tests/*.csv
/tests/htmlcov/
/lcopt/__pycache__/
/lcopt/assets/Ecoinvent*
/lcopt/assets/lcopt_config.yml
__pycache__/
tests/__pycache__/