{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'>
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'>
    <title>REDMUD - {% block title %}Default title{% endblock %}</title>

    <!-- Extra items for the header -->
    {% block head-preload %}{% endblock %}

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}" />

    <!-- Extra items for the header -->
    {% block head-postload %}{% endblock %}


  </head>


  <body>
    <header id="header">
      <nav class="navbar navbar-default nav-top-pad main navbar-static-top">
        <div class="logo">
          <strong><a href="/" title="LCOPT"><span class="grey">LC</span><span class="red">OPT</span></a></strong>
        </div>
        <div class="right">
          <ul class="menu">
            <li class="{% block nav-class-home %}{% endblock %}"><a class="menu-block" href="/">Home</a></li>
            <li class="{% block nav-class-process %}{% endblock %}"><a class="menu-block" href="/lcopt/">Models</a></li>
              </ul>
            </div>
      </nav>
    </header>



    <div class="col-xs-12" id="content">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class = "{{message.tags }}"{% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if dismissMessage %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{dismissMessage.body|linebreaks}}
    </div>
        {% endif %}
        {% block content %}
          Nothing to see here
        {% endblock %}
    </div>




    <div class="col-xs-12 footer">
        <p class = "whitetext">&copy; ETN-MSCA REDMUD 2015</p>
        <a class = "light" href="https://icons8.com">Icon pack by Icons8</a>
        
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
