{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Data collection platform{% endblock %}

{% block nav-class-home %}active{% endblock %}

{% block head-postload %}
<style media="screen">

.alt-container{
    margin-left: 200px;
    margin-right: 200px;
}

.imgcontainer {
   position: relative;
}
.imgoverlay {
   float: left;
   position: absolute;
   left: 0px;
   top: 15%;
   z-index: 1000;
   background-color: rgba(170, 170, 170, 0.75);
   padding: 5px;
   padding-left: 25px;
   padding-right: 25px;
   color: #FFFFFF;
   font-weight: bold;
   font-size: 5em;
}

figcaption{
  float: left;
  position: absolute;
  left: 0px;
  top: 15%;
  z-index: 1000;
  background-color: rgba(170, 170, 170, 0.75);
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .75em;
}

.blockdescription{
  padding-top: 15px;
  padding-bottom: 30px;
}

.social-container{

}

.social{
  height:46px;
  line-height: 47px;
  width: 158px;
  margin: auto;
}
.social-icon{
  display: inline;
  height:46px;
  width:46px;
  padding-left: 5px;
  padding-right: 5px;
}

.title{
  padding-bottom: 25px;
}

.latestTitle{
  margin-bottom: 15px;
  background-color: rgba(170, 170, 170, 1);
  color:#fff;

}

.latestContent img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  width:100%;
  height:130px;
}

/* Disable grayscale on hover */
.latestContent img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.social a:hover{
  text-decoration: none;
}

</style>
{% endblock %}

{% block content %}

<div class="alt-container">


  <div class="col-xs-12 title">

    <h1>ETN-REDMUD Data Entry &amp; Exploration Platform</h1>

  </div>

  <div class="col-md-6">
    <figure>
      <div class="imgcontainer">
        <a href="{{homeblock1.link1.href}}">
          <img class="img-responsive" src="{% static 'data/img/FlowSheets700x500.jpg' %}"/>
          <div class="imgoverlay">
            {{homeblock1.title}}
          </div>
        </a>
      </div>
      <div class="blockdescription">
        {{homeblock1.body}}
      </div>
    </figure>
  </div>

  <div class="col-md-6">
    <figure>
      <div class="imgcontainer">
        <a href="{{homeblock2.link1.href}}">
          <img class="img-responsive" src="{% static 'data/img/Analyse700x500.jpg' %}"/>
          <div class="imgoverlay">
            {{homeblock2.title}}
          </div>
        </a>
      </div>
      <div class="blockdescription">
        {{homeblock2.body}}
      </div>
    </figure>
  </div>



  <div class="social-container col-xs-12">
      <hr>

      <div class="social">
        <div class=" social-icon twitter">
             <a href="http://www.twitter.com/etn_msca_redmud" target="_blank">
               <!-- Twitter icon by Icons8 -->
              <img src="https://maxcdn.icons8.com/windows8/PNG/48/Social_Networks/twitter-48.png" title="Twitter" width="36">
             </a>
         </div>
         <div class=" social-icon website">
              <a href="http://etn.redmud.org" target="_blank">
                <!-- Twitter icon by Icons8 -->
               <img src="{% static 'data/img/Plant.png' %}" title="etn.redmud.org" width="46">
              </a>
          </div>
          <div class=" social-icon facebook">
               <a href="http://www.facebook.com/redmudproject2015" target="_blank">
                 <!-- Facebook icon by Icons8 -->
                 <img src="https://maxcdn.icons8.com/Android/PNG/48/Social_Networks/facebook-48.png" title="Facebook" width="36">
               </a>
           </div>




  </div>

</div>

<div class=" col-xs-12 latest">
  <hr>
<div class="col-xs-12 latestTitle">
  LATEST ETN-REDMUD NEWS
</div>
<div class="latestContent col-xs-10 col-xs-offset-1">

{% for item in latestNews|slice:"4"  %}
<div class="col-md-3">
  <a href="{{item.link}}" target="_blank">
    <figure class="imgcontainer">
        <img class="img" src="{{item.img}}" alt="{{item.title|safe}}"/>
        <figcaption>{{item.title|safe}}</figcaption>
    </figure>
  </a>
    <div class="info">
      <h3 class="bold"><a href="{{item.link}}">{{item.description|safe}}</a></h3>
    </div>
</div>

{% endfor %}

</div>

<!-- BLOG -->

<div class="col-xs-12 latestTitle">
  ETN-REDMUD BLOG
</div>
<div class="latestContent col-xs-10 col-xs-offset-1">

{% for item in latestBlog|slice:"4"  %}
<div class="col-md-3">
  <a href="{{item.link}}" target="_blank">
    <figure class="imgcontainer">
        <img class="img" src="{{item.img}}" alt="{{item.title|safe}}"/>
        <figcaption>{{item.title|safe}}</figcaption>
    </figure>
  </a>
    <div class="info">
      <h3 class="bold"><a href="{{item.link}}">{{item.description|safe}}</a></h3>
    </div>
</div>

{% endfor %}

</div>

</div>


{% endblock %}
