{% extends 'base.html'%}

{% block title %}Analysis{% endblock%}

{% block head_postload %}

<script src="{{ url_for('static', filename = 'js/cdn_cache/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/d3-legend.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/d3-tip.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/d3-textwrap.JJ.js') }}"></script>

<!--<script src="{{ url_for('static', filename = 'js/analysis.js') }}"></script>-->
<script src="{{ url_for('static', filename = 'js/pie2.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/comparison_bar.js') }}"></script>

<script src = "{{ url_for('static', filename = 'js/result_table.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/treetest2.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/stacked_bar.js') }}"></script>
<!-- <script src = "{{ url_for('static', filename = 'js/sunburst.js') }}"></script> -->
<script src = "{{ url_for('static', filename = 'js/export_chart.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/hotspot.js') }}"></script>


<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/analysis.css') }}" />

<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/treetest.css') }}" />

{% endblock%}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>{{args.result_sets.settings.item}} <span class="text-muted">({{args.result_sets.settings.amount}} {{args.result_sets.settings.item_unit}})</span></h2>
      <p class="text-muted">
          Analysis run at {{args.result_sets.settings.timestamp}}
      </p>
      {% if args.latest %}
      {%else%}
      <p class="text-muted">
          Note - these are a saved set of results. If you know you've made changes, click <a class="red" href='/analyse?item={{args.result_sets.settings.item | replace(" ", "%20")}}&item_code={{args.result_sets.settings.item_code}}'>here</a> to rerun the same analysis.
      </p>
      <p class="text-muted">
          Or go back to the process flow sheet and use the analysis icon (<i class="material-icons md-18">pie_chart</i>) to run a new analysis.
      </p>
      {%endif%}
    </div>
  </div>

  <div class="row top-padding">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="row">
            <div class="col-xs-10">
                <div class = "form-group col-xs-3">
                    <label for="parameterSetChoice">Parameter set</label>
                    <select id = "parameterSetChoice" class="form-control input-sm">
                          {% for item in args.result_sets.settings.ps_names %}<option value = {{loop.index}}>{{item}}</option>{% endfor %}
                    </select>
                </div>    
                <div class = "form-group col-xs-3">
                    <label for="methodChoice">Method</label>
                    <select id = "methodChoice"  class="form-control input-sm">
                        {% for item in args.result_sets.settings.method_names %}<option value = {{loop.index}}>{{item | uc_first}}</option>{% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs top-padding">
                <li class="active"><a data-toggle="tab" href="#tab-stackedbar">Bar Charts</a></li>
                <li><a data-toggle="tab" href="#tab-summary">Summary</a></li>
                <li><a data-toggle="tab" href="#tab-table">Table</a></li>
                <li><a data-toggle="tab" href="#tab-tree">Tree</a></li>
                <li><a data-toggle="tab" href="#tab-pie">Pie Chart</a></li>
                <li><a data-toggle="tab" href="#tab-hotspots">Bullseye Hotspot Chart</a></li>
            </ul>
        </div>

        
        <div class = "tab-content">
            <div class="tab-pane fade in active" id="tab-stackedbar">
                

                <div class="row bottom-padding">
                    <div id="bar" class = "col-xs-6 top-padding">
                        
                    </div>

                    <div id = "stackedbar" class = "col-xs-6 top-padding">

                    </div>
                </div>

                <div class="row bottom-padding">
                    <div class="col-xs-6">
                        <button id="bar_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                    <div class="col-xs-6">
                        <button id="stacked_bar_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>

            </div>

            
            {% set colspan =  (args.result_sets.results | length)  %}
            {% set no_methods =  (args.result_sets.settings.methods | length)  %}
            

            <div class="tab-pane fade" id="tab-table">
                
                <div class="row">
                    <div class="col-xs-12">
                        <div id="dynamic_table" class="top-padding bottom-padding"></div>
                    </div>
                </div>
                <div class="row">
                    <div class=col-xs-12>
                        <button id="table_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab-summary">
                
                <div class="row">
                    <div class="col-xs-12">
                        <div id="dynamic_summary_table" class="top-padding bottom-padding"></div>
                    </div>
                </div>
                <div class="row">
                    <div class=col-xs-12>
                        <button id="summary_excel_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab-tree">
                <div class="row top-padding">
                    <div class="col-xs-6">
                    <p>
                        <label for="cutoff">Cutoff : </label><input id="cutoff" type="number" value=5 max=100 min=0 step=0.1 oninput="draw_tree()">%    
                    </p>
                    </div>
                    <div class=col-xs-6>
                        <button id="tree_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>
                <div class="row top-padding bottom-padding">
                    <div class="col-xs-12" id="tree_container">
                        <svg id='simaProTree'></svg>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab-pie">
                <div class="row top-padding bottom-padding">
                    <div class="col-xs-6">
                        <p>
                            <label for="cutoff_pie">Cutoff : </label><input id="cutoff_pie" type="number" value=5 max=100 min=0 step=0.1>%    
                        </p>
                    </div>
                    <div class=col-xs-6>
                        <button id="pie_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>
                    <div class="row"><div id="pie" class = "col-xs-12"></div>
                </div>
                

            </div>

            <div class="tab-pane fade" id="tab-hotspots">
                <div class="row top-padding">
                    <div class="col-xs-6">
                        <form class="form-inline">
                            <div class="form-group">
                                <span class="bold top-padding"><strong>Outer ring : </strong></span>
                                Large: <input type="radio" name="outerring" value = "Large" class = "radio" id = "radio_large" checked="checked">
                                Small: <input type="radio" name="outerring" value = "Small" class = "radio" id = "radio_small" >
                                Tiny : <input type="radio" name="outerring" value = "Tiny" class = "radio" id = "radio_tiny">
                                Hidden: <input type="radio" name="outerring" value = "Hide" class = "radio" id = "radio_hide">
                            </div>
                          </form>  
                    </div>
                    <div class=col-xs-6>
                        <button id="hotspot_export_button" class="btn btn-muted pull-right"><i class="material-icons">file_download</i></button>
                    </div>
                </div>
               
                
                <div class="row bottom-padding">

                    <div id = "sb_div" class = "col-xs-12">
                        <svg id = "sunburst"></svg>
                    </div>
                    <div id = "hovertext_div" class = "col-xs-6">
                        <p id="hovertext"></p>
                    </div>

                </div>

                 
                
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <canvas id="export_canvas"></canvas>
    </div>
  </div>

</div>

{% endblock %}