{% extends 'base.html'%}

{% block title %}Analysis of {{args.item}} {% endblock%}

{% block head_postload %}
<script src="{{ url_for('static', filename = 'js/cdn_cache/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/d3-pie.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/analysis.js') }}"></script>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/analysis.css') }}" />
{% endblock%}

{% block content %}
    <div>
      <h2>{{args.model.name}}  {{args.item}}</h2>

      <p>{{args.result_sets[0]['contributionAnalysis']}}</p>

    </div>

    <div id="myPie"></div>

    <svg width="960" height="600"></svg>


{% endblock %}
