{% extends 'base.html' %} {% block head_postload %}
<script src="{{ url_for('static', filename = 'js/table-edit.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/parameter_table.css') }}" />

{% endblock %} {% block content%} {% set colspan = (args.ps_names | length) + 3 %}
<div class="container-fluid">
    <div class="row">
        <div class="sandboxTitle col-xs-10 col-xs-offset-1">
            <h1>Create Parameter Set</h1>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-10 col-xs-offset-1">
            <div id="table" class="table-editable">
                <table id="myTable" class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr class="table_header">
                            <th class='hide_text_header'>id</th>
                            <th>Name</th>
                            <th>Unit</th>
                            {% for n in args.ps_names %}
                            <th class="ps_name" contenteditable="true">{{n}}</th>{% endfor %}
                        </tr>
                    </thead>
                    {% for section in args.sorted_parameters %}
                    <thead>
                        <tr>
                            <td class="table_section" colspan="{{colspan}}">{{section.name}}</td>
                        </tr>
                    </thead>
                    {% for subsection in section.my_items %}
                    <thead>
                        <tr>
                            <td class="table_subsection" colspan="{{colspan}}">{{subsection.name | capitalize}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in subsection.my_items %} {% set row_type = 'function' if item.isFunction else 'data' %}
                        <tr class="{{row_type}}_row">
                            <td><span class='hide_text export'>{{item.id}}</span>{% if section.name != 'Global Parameters' %}<a href="/functions?preload={{item.id}}"><i class="material-icons pull-right edit_function">functions</i></a>{% endif %}</td>
                            <td class='export'>{{item.name}}</td>
                            <td class='export'>{{item.unit}}</td>
                            {% for v in item.existing_values %} {% if item.isFunction%}
                            <td class="function right_align export">{{v}}</td>
                            {% else %}
                            <td contenteditable="true" class="right_align export">{{'%0.4g'| format(v|float)}}</td>
                            {% endif %} {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endfor %} {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-xs-1 controls">
            {% include 'status.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <button id="export-btn" class="btn btn-primary">Save</button>
            <button id="btnAddCol" class="btn btn-info">Add another parameter set</button>
            <button id="btn_add_parameter" class="btn btn-warning">Add global parameter</button>
            <a href="/">
                <button id="btnCancel" class="btn btn-danger">Cancel</button>
            </a>
            <p id="export"></p>
        </div>
    </div>
</div>
{% endblock %}