{% extends 'base.html'%}

{% block title %}Testing Area{% endblock%}

{% block head_postload %}
<script src="{{ url_for('static', filename = 'js/cdn_cache/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cdn_cache/handlebars.min.js') }}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script  type="text/javascript" src="http://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>-->
<script src="{{ url_for('static', filename = 'js/testing.js') }}"></script>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/testing.css') }}" />
{% endblock%}

{% block content %}
    <div class="bs-example">
		<h2>Input name</h2>
        <input type="text" id="search_input" class=" tt-query" autocomplete="off" spellcheck="false">
    </div>
    <div class="col-xs-6 col-offset-3">
    	<form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="control-label col-xs-3">Name of input</label> 
            <div class="col-xs-9">
              <input class="form-control typeahead" name = "inputName", id="inputName">
            </div>
          </div>
          <div class="form-group">
            <label for="extLink" class="control-label col-xs-3">Link to external database</label> 
            <div class="col-xs-9">
              <input class="form-control disabled" name = "extLinkName", id="extLinkName" disabled>
              <input class="form-control disabled" name = "extLink", id="extLink" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="unit" class = "control-label col-xs-3">Unit</label>
            <div class="col-xs-6" id="unitDiv"></div>
          </div>
          <div class="form-group">
            <label for="unlinked" class="control-label col-xs-3">Is burden free</label> 
            <div class="col-xs-6">
              <input type="checkbox" class="checkbox-inline" name = "unlinked", id="unlinked">
            </div>
            <div id="ext_data_button" class="col-xs-3">
              
            </div>
          </div>
        </form>
    </div>
{% endblock %}
