{% extends 'base.html'%}

{% block title %}Analysis{% endblock%}

{% block head_postload %}

<script src="{{ url_for('static', filename = 'js/cdn_cache/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/analysis.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/pie2.js') }}"></script>


<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/analysis.css') }}" />

{% endblock%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="row">
            <div class="col-xs-10">
                <p>
                    
                </p>
            </div>
        </div>
    	
    	
    	<div class="row">
	        <div id="pie" class = "col-xs-6">
	        	<select id = "parameterSetChoice">
	    			{% for item in args.result_sets %}<option value = {{loop.index}}>Parameter Set {{loop.index}}</option>{% endfor %}
	    		</select>
                <select id = "methodChoice">
                    <option value = 0>Carbon Footprint</option>
                    <option value = 1>Toxicity</option>

                </select>
	        </div>
            <div id = "force" class = "col-xs-6">
	    </div>
	    <div class="row">
        <!--<div id = "force" class = "col-xs-12">-->
        </div>
        </div>
        
        
    </div>
  </div>
</div>

{% endblock %}