.hello_div{
	color:red;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/*.node text {
  pointer-events: none;
  font: 10px sans-serif;
}*/

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.right_align{
  text-align: right;
}

.row_title{
  font-weight: bold;
}

.table>thead>tr>th{
  text-align: center;
  vertical-align: middle;
}

.table{
  font-size: 10px;
}
.table>tbody>tr>td{
  vertical-align: middle;
}

.table-nonfluid {
   width: auto !important;
   min-width: 50%;
   margin: auto;
}

.data_cell{
  min-width: 100px;
}

.row_title{
  min-width: 200px;
}

.unit{
  font-size: 8px;
  color:#999;
}

.legend_item{
  font-size: 8px;
}

.total_row{
  background-color: #eee;
  font-weight: bold;
}

.zero_result{
  color: #222;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ccc;
}

.tick text{
  font-size: 7px;
}


.d3-tip {
  line-height: 1.25;
  padding: 8px;
  /*background: rgba(0, 0, 0, 0.8);*/
  background:#e1e3e4;
  color: #fff;
  border-radius: 2px;
  border:1px solid #a6abab;
  
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  /*color: rgba(0, 0, 0, 0.8);*/
 /* color:#e1e3e4;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
*/
/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.tip_title{
  color: #cd2122;
  font-weight: bold;
  font-size: 14px;
}

.tip_value{
  color:black;
  font-size: 10px;
  font-weight: bold;
}

.tip_detail{
  color:black;
  font-size: 10px;
}

.tip_total{
  font-size: 10px;
  color: black;
  font-style: italic;
}

#pie{
  width: 100%;
}

.svg_container{
  margin: auto;
  display: block;
}

.legend_subtitle{
    fill:grey;
}

#export_canvas{
  display: none;
}

