.name{
	color:#ddd;
}
.hide_me{
	display: none;
}

.optgroup-header{
	font-weight: bold;
	font-size: 0.7em;
}

.item_biosphere{
	background-color: #EFFFF7;
}

.item_production{
	background-color: #8ca5ce;
	padding-left:5px;
	padding-right:5px;
	border-radius: 2px;
}

.item_operator{
	background-color: aliceblue;
	border-radius: 2px;
}

.item_intermediate{
	background-color: #FEFFEF;
	border-radius: 2px;
}

.item_input{
	background-color: #FAEFFF;
	border-radius: 2px;
}
.item_number{
	background-color: #ddd;
	border-radius: 2px;
}

.item_global{
	background-color: #FEF9F9;
	border-radius: 2px;
}

.selectize-control.plugin-clear_button .clearAll {
    font-size: 26px;
    position: absolute;
    cursor: pointer;
    top: -2px;
    right: 5px;
    
    z-index: 10;
    
}

.selectize-input{
	padding-right: 25px !important;
}
/*.selectize-control.plugin-clear_button .clearAll:hover {
    text-decoration: underline;
}*/