.mf_node rect {
  cursor: move;
  fill-opacity: .9;
  /*shape-rendering: crispEdges;*/
}

.mf_node text {
  pointer-events: none;
  font-size: 8px;
}

.mf_link {
  fill: none;
  stroke: rgba(0,0,0,0.2);
  /*stroke-opacity: .2;*/
}

.mf_link:hover {
  stroke-opacity: .5;
}

.tag_other > rect{
	fill: rgba(0,0,0,0.2) !important;
	stroke: none !important;
	/*stroke-opacity:.2;
	opacity: .2;*/
}

.tag_other > rect:hover{
	fill: rgba(255,255,255,0.5) !important;
	stroke: #000 !important;
	
}

.tag_other > text{
	display: none;
	fill: rgba(0,0,0,0);
}