.name{
	color:#ddd;
}
.hide_me{
	display: none;
}

.optgroup-header{
	font-weight: bold;
	font-size: 0.7em;
}

.item_biosphere{
	background-color: #EFFFF7;


}
.item_method{
	background-color: aliceblue;
	display: block;
}

.item_intermediate{
	background-color: #FEFFEF;
}

.item_input{
	background-color: #FAEFFF;
}
.item_number{
	background-color: #ddd
}

.item_global{
	background-color: #FEF9F9;
}

.method_group{
	display: block;
	font-size: 0.7em;
}