.new_item{
	font-style: italic; 
}
.hide_text{
	/*color: #F4F4F4;*/
	color: #bbb;
}
.hide_text_header{
	color: #ccc;
}

.right_align{
	text-align: right;
}

.table_section{
	background-color: #ddd;
	font-weight: bold;
	border-bottom: 1px solid #bbb !important;
	cursor:pointer;
}

.table_subsection{
	background-color: #eee; 
	font-weight: bold;
	font-style: italic;
}

.table_header{
	background-color: #ccc; 
	font-weight: bold;
	color:#000;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ccc;
}

.function_row{
	font-style: italic;
	color: #bbb;
}

.table-hover tbody tr:hover td .edit_function {
	visibility: visible;
}
.edit_function{
	visibility: hidden;
	cursor: pointer;
}

tr.collapse.in {
  display:table-row;
}

.g_params{
	background-color: #555;
	color: white;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
}

.changer{
  cursor:pointer;
}
.changer.collapsed>.table_section>.row_icon:before
{
    content:'arrow_right' ;
    display:inline-flex;
    width:25px;
}
.changer>.table_section>.row_icon:before
{
    content:'arrow_drop_down' ;
    display:inline-flex;
    width:25px;
}

.align-center{
   text-align: center;  
}
