.table-fixed {
  width: 100%;
  /*background-color: #f3f3f3;*/
  font-size: 10px;
}
.table-fixed tbody {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  cursor:pointer;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  color:white;
  background-color: #428BCA;
  /*border-color: #337AB7;*/
}
.active{
    color:white;
    /*background-color: #1E90FF;*/
}
.active td{
    background-color: #1E90FF !important;
}