/*@import url(http://fonts.googleapis.com/css?family=Play|Quicksand|Cabin);*/
/*@import url(https://fonts.googleapis.com/css?family=Muli:400,300);*/

@font-face {
    font-family: Muli;
    src: url("cdn_cache/Muli-Regular.ttf");
    font-weight: 400;
}

a{
	text-decoration: none;
	color:#333;
}
a:hover{
	text-decoration: none;
	color:#cd2122;
}

body {
	font-family: 'Muli', sans-serif;
	/*
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	*/
	background-color: #F4F4F4;
}

.btn-custom{
  border: 1px solid #aaa;
  background-color: #e1e3e4;
}

/* NAV */

#header {
    position: relative;
    font-family: 'Muli';
    font-weight: 300;
    z-index: 11;
}

#header nav {
    position: relative;
    width: 100%;
    height: 47px;
    line-height: 48px;
    background: #e1e3e4;
    border-bottom: 1px solid #d2d6d5;
    z-index: 200;

    -webkit-transition: background .25s ease-out;
    transition: background .25s ease-out;
}
#header .menu > li {
    float: left;
}


/* NAV - MAIN */

#header nav.main {
    height: 66px;
    line-height: 67px;
    font-size: 14px;
    text-transform: uppercase;
}

/* LOGO */

.logo{
    display: inline-block;
    height: 66px;
    line-height: 67px;
    width: 250px;

}
.logo.light{
    background-image: url(../images/logo-light.svg);
}
.logo a{
    display: block;
    height: 66px;
    text-decoration: none;
    /*text-indent: -34em;*/
    /*overflow: hidden;*/
}

.logo.large{
    width: 376px;
    height: 66px;
}

#header nav .logo{
    float: left;
    /*margin: 23px 0 0 20px;*/
    margin-left: 23px;
    font-size: 1.5em;
}

/* MENU */

#header nav.main ul.menu {
    position: absolute;
    right: 0;
}
ul.menu li {
    position: relative;
}
ul.menu li:first-child {
    border-left: none;
}
ul.menu > li {
    border-left: 1px solid #d2d6d5;
}


.menu-block {
    display: block;
    height: 66px;
    padding: 0 15px;
    color: #313131;

    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
}

ul.menu > li.active a,
ul.menu > li.active span {
    font-family: 'Muli';
    font-weight: 400;
}
ul.menu > li a:hover,
ul.menu > li span:hover,
ul.menu > li.open span {
    background-color: #F4F4F4;
    /*text-decoration: none;*/
    color: #313131;
}


/* MY OWN */

.grey{
  color:#a6abab;
}

.red{
  color: #cd2122;
}

.white{
	color:#fff;
}
.right{
  float: right;
}

/* USER */

.menu-highlight{
		position: relative;
		top: -1px;
    width: 160px;
    background-color: #cd2122;
    text-align: center;
    color: #fff;
}



/* OTHER /*


.nav-top-pad{
	margin-top: 20px;
}

/* tab color */
.nav-tabs>li>a {
	font-weight: 300;
  background-color: #333333;
  background-color: rgba(120, 120, 120, 0.95);
  color:#fff;
}

/* active tab color
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #000;
  background-color: rgba(240, 240, 240, 0.95);
}
*/

/* hover tab color */
/*.navbar-nav>li:hover, .navbar-nav>li:focus {
  background-color: rgba(240, 240, 240, 0.6);;
}*/

/*.jumbotron{
	background: url(../img/data.jpg) no-repeat center center;
	color:white;
	text-shadow: black 0.1em 0.1em 0.2em;
	height:450px;
}*/

ul {
	list-style-type: none;
	padding-left: 0;
}

.disallowed{
	text-align: center;
	background-color: #ffaaaa;
	border-color: #550000;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 1em;
}

.success{
	text-align: center;
	background-color: #aaeeaa;
	border: 1px solid #005500;
	border-radius: 5px;
	padding-left: 1em;
}

.errorlist{
	font-size: 10px;
	color:darkred;
}

.disabled{
	background-color: #eee;
	color: #555;
}

.whitetext{
	color: #555;
	background-color: rgba(180, 180, 180, 0.85);
}

.commentButtonDiv{
	margin-top:40px;
}

.light{
	color:rgba(180, 180, 180, 0.25);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; vertical-align: middle;}
.material-icons.md-24 { font-size: 24px; vertical-align: middle;}
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.top-padding{
    padding-top: 20px;
}

.bottom-padding{
    padding-bottom: 40px;
}